language: python
matrix:
  include:
    - python: "3.4"
    - python: "3.5"
    - python: "3.6"
    - python: "3.7"
      dist: xenial
      sudo: required
    - python: "3.8"
      dist: xenial
      sudo: required

    - os: windows
      python: "3.7"
      language: "shell"
      before_install:
        - choco install python --version 3.7.4
        - python --version
        - python -m pip install --upgrade pip
        - pip3 install --upgrade pytest
        - pip3 install codecov
      env: PATH="/c/Python37:/c/Python37/Scripts:$PATH" PYTHONIOENCODING="UTF-8"

script:
  - pip install -r requirements.txt
  # pytest --verbose -s  (print stdouts, etc.)
  - PYTEST_ADDOPTS="-s" python setup.py test
  - pip install .
