language: python
matrix:
  include:
    - python: "2.7"
    - python: "3.4"
    - python: "3.5"
    - python: "3.6"
    - python: "3.7"
      dist: xenial
      sudo: required

before_install:
  - pip install flake8 && flake8 .

script:
  # pytest --verbose -s  (print stdouts, etc.)
  - PYTEST_ADDOPTS="-s" python setup.py test
  - pip install .
